# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#files that are just there and I don't want
*.sublime-project
*.sublime-workspace
*.vcxproj.users
*.log
*.pdb
*.tlog
*.idb
*.ilk
*.vs
*.lastbuildstate